In [78]:

import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline




from PIL import Image
import os



from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.mixture import GaussianMixture
from sklearn.model_selection import train_test_split

from scipy.stats import boxcox

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [79]:
data= pd.read_csv("./data/nutrients_csvfile.csv")

data.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [80]:
data.shape

(335, 10)

In [81]:
data.columns

Index(['Food', 'Measure', 'Grams', 'Calories', 'Protein', 'Fat', 'Sat.Fat',
       'Fiber', 'Carbs', 'Category'],
      dtype='object')

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      335 non-null    object
 1   Measure   335 non-null    object
 2   Grams     335 non-null    object
 3   Calories  334 non-null    object
 4   Protein   335 non-null    object
 5   Fat       335 non-null    object
 6   Sat.Fat   333 non-null    object
 7   Fiber     335 non-null    object
 8   Carbs     335 non-null    object
 9   Category  335 non-null    object
dtypes: object(10)
memory usage: 26.3+ KB

In [83]:
data.isnull().sum()

Food        0
Measure     0
Grams       0
Calories    1
Protein     0
Fat         0
Sat.Fat     2
Fiber       0
Carbs       0
Category    0
dtype: int64

In [84]:
data.duplicated().sum()

0

In [85]:
data.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

In [86]:
data.dropna(inplace=True)

In [87]:
data.shape

(332, 10)

In [88]:
#remove , so we can convert it to numeric
data=data.replace(",","", regex=True)

In [89]:
#typo found
data=data.replace('t',0)

In [90]:
#took the average of the calories found at position 90 
data.Calories.iloc[90]=(8+44)/2

In [91]:
data.Calories.iloc[90]

26.0

In [92]:
#typo found at position 90
data['Fat']=data['Fat'].replace("t'",0, regex=True)

In [93]:
#typo found at position 80
data['Fiber']=data['Fiber'].replace('a',0,regex=True)

In [94]:
data['Grams']=pd.to_numeric(data['Grams'])
data['Calories']=pd.to_numeric(data['Calories'])
data['Protein']=pd.to_numeric(data['Protein'])
data['Fat']=pd.to_numeric(data['Fat'])
data['Sat.Fat']=pd.to_numeric(data['Sat.Fat'])
data['Fiber']=pd.to_numeric(data['Fiber'])
data['Carbs']=pd.to_numeric(data['Carbs'])

In [95]:
data.dtypes

Food         object
Measure      object
Grams         int64
Calories    float64
Protein       int64
Fat           int64
Sat.Fat       int64
Fiber       float64
Carbs       float64
Category     object
dtype: object

# todo:
## scale the data
## sort values

In [96]:
num_data=data[['Grams','Calories','Protein','Fat','Sat.Fat','Fiber','Carbs']]

In [97]:
num_data

     Grams  Calories  Protein  Fat  Sat.Fat  Fiber  Carbs
0      976     660.0       32   40       36    0.0   48.0
1      984     360.0       36    0        0    0.0   52.0
2      246     127.0        9    5        4    0.0   13.0
3      252     345.0       16   20       18    0.0   24.0
4     1419    1373.0       89   42       23    1.4  119.0
..     ...       ...      ...  ...      ...    ...    ...
330    346     161.0        0    0        0    0.0   42.0
331    346     105.0        0    0        0    0.0   28.0
332    346     140.0        0    0        0    0.0   35.0
333    230       3.0        0    0        0    0.0    1.0
334    230       4.0        0    0        0    0.0    1.0

[332 rows x 7 columns]

In [98]:
# create scaler
scaler = MinMaxScaler()

In [99]:
# load data
data = num_data
# create scaler
scaler = MinMaxScaler()
# fit and transform in one step
normalized = scaler.fit_transform(num_data)
# inverse transform
inverse = scaler.inverse_transform(normalized)

In [103]:
data = num_data
# create scaler
scaler = StandardScaler()
# fit scaler on data
scaler.fit(num_data)
# apply transform
standardized = scaler.transform(num_data)
# inverse transform
inverse = scaler.inverse_transform(standardized)

In [104]:
num_data

     Grams  Calories  Protein  Fat  Sat.Fat  Fiber  Carbs
0      976     660.0       32   40       36    0.0   48.0
1      984     360.0       36    0        0    0.0   52.0
2      246     127.0        9    5        4    0.0   13.0
3      252     345.0       16   20       18    0.0   24.0
4     1419    1373.0       89   42       23    1.4  119.0
..     ...       ...      ...  ...      ...    ...    ...
330    346     161.0        0    0        0    0.0   42.0
331    346     105.0        0    0        0    0.0   28.0
332    346     140.0        0    0        0    0.0   35.0
333    230       3.0        0    0        0    0.0    1.0
334    230       4.0        0    0        0    0.0    1.0

[332 rows x 7 columns]

In [101]:
data['Grams']=num_data['Grams']

In [102]:
ax= sns.countplot(x='Category',data=data, order = data['Category'].value_counts().index)
ax.set_xticklabels(ax.get_xticklabels(),rotation = 80,)
ax.set(xlabel='Category', ylabel='Count')

KeyError: 'Category'

In [ ]:
# fig = sns.barplot(x='Protein',y='Category', data=data, order = data['Category'].value_counts().index)

ax = sns.barplot(y="Protein", x="Category", data=data,order = data.value_counts('Category').index)
ax.set_xticklabels(ax.get_xticklabels(),rotation = 90)

In [ ]:

ax=sns.barplot(y= 'Calories', x='Category', data =data, order = data['Category'].value_counts().index)
ax.set_xticklabels(ax.get_xticklabels(),rotation = 90)

In [ ]:
plot_order = data.groupby('Category')['Calories'].sum().sort_values(ascending=False).index.values
ax= sns.catplot(data=data, x='Category',  y='Calories',kind='bar',ci=None, legend_out=False, order=plot_order)
ax.set_xticklabels(rotation = 90)

In [ ]:
ax=sns.barplot(x= 'Category', y='Fat', data =data, order = data.value_counts('Category').index)
ax.set_xticklabels(ax.get_xticklabels(),rotation = 90)

In [ ]:
plot_order = data.groupby('Category')['Fat'].sum().sort_values(ascending=False).index.values
ax= sns.catplot(data=data, y='Category',  x='Fat',kind='bar',ci=None, legend_out=False, order=plot_order)
ax.set_xticklabels(rotation = 90)

In [ ]:
import plotly.express as px
fig = px.scatter_3d(data_frame=data, x='Category', y='Food', z='Fat', color='color')
fig.show()

In [ ]:
# data['Count']=data.Category.groupby(data.Category)
# data
# df['Count'] = pd.Series(data.Category.groupby(data.Category))
# df = pd.DataFrame({'Category': Category,
#                    'Count': Count})

In [ ]:
# df=['Category'],['Count']
# df['Count'] = pd.Series(data.Category.groupby(data.Category))
# df = pd.DataFrame({'Category':data['Category'],
#                    'Count': data['Count']})